/* task 3 section */

/* Element selector */
p {
    color: rgb(141, 141, 228);
}

/* Class selector */
.about-text {
    color: rgb(166, 73, 113);
}

/* ID selector */
#about p {
    color: #f4b6c2;
}

/*
Specificity Notice:

p → specificity = 1
.about-text → specificity = 10
#about p → specificity = 101 (ID = 100 + element = 1)

The text appears pink because the ID selector has the highest specificity
and overrides the class and element selectors.
*/

body {
    font-family: "Times New Roman", Times, serif;
    background-color: hsl(342, 100%, 98%);
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    max-width: 700px;
    margin: 20px auto;
    padding: 10px 20px;
}

#about img {
    margin-top: 10px;
}

h1 {
    color: #d46a92;
    font-size: 42px;
}

section {
    margin-top: 40px;
}

h2 {
    color: #a44a6b;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

#education p,
section ul li {
    color: rgb(141, 141, 228);
    font-size: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #b76e79;
}

th, td {
    border: 1px solid #f0c6d4;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f8d7e1;
    font-weight: bold;
    color: #a44a6b;
}

